.pixelBackground {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .column {
    width: 5vw;
    height: 100%;

    .block {
      width: 100%;
      height: 5vw;
      background-color: antiquewhite;
    }
  }
}
