$title-color: aqua;
$subtitle-color: burlywood;
$description-color: aquamarine;

// Container / Wrapper
.pin-container {
  position: relative;
  width: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;

  @media (max-width: 1199px) {
    flex-direction: column;
  }
}

.images-container {
  position: relative;
  height: 100vh;
  flex-shrink: 0;
  overflow: hidden;
  width: 50%;

  // Take up all the description place
  @media (max-width: 1199px) {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.description-container {
  position: relative;
  width: 50%;

  @media (max-width: 1199px) {
    width: 100%;
  }
}

// Images
.memeable-home-img,
.memeable-user-img {
  width: 300px;
  height: 600px;
  position: absolute;
  top: 0;
  border-radius: 0.25rem;

  @media (max-width: 1500px) {
    width: 250px;
    height: 500px;
  }

  @media (max-width: 1199px) {
    width: auto;
    height: 50%;
    aspect-ratio: 9/16;
    top: 60%;
    left: 50%;
    transform-origin: center -50%;
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
}

.pixelart-kronii-img,
.pixelart-suisei-img {
  width: 650px;
  height: auto;
  aspect-ratio: 16/9;
  position: absolute;
  top: 0;
  border-radius: 0.25rem;

  &.pixelart-kronii-img {
    transform: translateX(250%) translateY(15%) rotateZ(45deg);
  }

  &.pixelart-suisei-img {
    transform: translateX(250%) translateY(10%) rotateZ(45deg);
  }
}

// Description
.memeable-description,
.second-description {
  position: relative;
  max-width: 600px;
  width: 100%;
  padding: 2rem;
  z-index: 10;
  margin: 100px auto auto auto;
  box-sizing: border-box;

  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: white;
  }

  .description-title {
    font-size: 4rem;
    color: $title-color;
    font-weight: 600;
  }

  .description-subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: $description-color;
    font-style: italic;
  }

  .description-section-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: $subtitle-color;
    padding-top: 100px;

    @media (max-width: 1199px) {
      padding-top: 20px;
    }
  }

  @media (max-width: 1199px) {
    max-width: none;
    margin: 0;
    text-align: center;
  }
}
