.intro {
  height: 100vh;
  margin-top: 200px;
  background-color: transparent;
}

.top-left-img {
  transform: translateX(-150%);
}
.top-right-img {
  transform: translateX(150%);
}
.bottom-left-img {
  transform: translateX(-150%);
}
.bottom-right-img {
  transform: translateX(150%);
}

.intro .top-left-img,
.intro .top-right-img,
.intro .bottom-left-img,
.intro .bottom-right-img {
  border-radius: 1rem;
  position: relative;
}

.stagger-text {
  color: white;
  font-size: 3.75rem;
  transform: translateY(150%);
}
