.maomao-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("/anime/maomao.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;

  /* Mask applied only to the background div */
  -webkit-mask-image: 
    /* Top fade */ linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 70%,
      rgba(0, 0, 0, 0) 100%
    ),
    /* Right fade */ linear-gradient(to right, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 70%);
  -webkit-mask-composite: source-in;

  mask-image: 
    /* Top fade */ linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 70%,
      rgba(0, 0, 0, 0) 100%
    ),
    /* Right fade */ linear-gradient(to right, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 70%);
  mask-composite: intersect;

  z-index: 0; /* Ensure background stays behind */
}
